@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-roboto;
  }

  h2 {
    @apply font-roboto;
  }

  h3 {
    @apply font-roboto;
  }

  p {
    @apply font-roboto;
  }

  a {
    @apply font-roboto;
  }

  button {
    @apply font-roboto;
  }
}

@layer components {
  .outline-button {
    @apply border border-gray-800 text-lg font-normal rounded-lg py-2 px-4;
  }

  .sidenav-button {
    @apply text-left text-lg font-normal w-[180px];
  }

  .max-width {
    max-width: 1080px;
    margin: 0 auto;
  }

  .input-box {
    @apply border rounded-lg px-4 py-2 focus:outline-blue-400;
  }
}

/* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
